<bd-slide-overlay [(visible)]="items.length" position="left" [baseZIndex]="0" [style]="{width:'60%'}">
  <div style="display: flex; flex-direction: column; justify-content: space-between">
      <mat-chip-list style="margin-bottom: 1em;">
        <mat-chip color="accent" selected>{{action}}</mat-chip>
      </mat-chip-list>
    <mat-list class="mat-elevation-z2" style="margin-bottom: 1em;">
      <mat-list-item *ngFor="let item of items">
        {{item.first_name}}
      </mat-list-item>
    </mat-list>
    <mat-card>
      <mat-card-content>
      <div *ngIf="!(loading$ | async) && reasons?.length else loading">
        <app-form-data [dropDownList]="reasons" (emitForm)="receiveForm($event)" [isLoading]="disableForm$ | async"></app-form-data>
        <!-- <mat-list>
          <mat-list-item *ngFor="let reason of reasons">
            {{reason | uppercase}}
          </mat-list-item>
        </mat-list> -->
      </div>
      </mat-card-content>
    </mat-card>
    <mat-card style="margin-top: 1em;">
      <mat-card-content>
      <button mat-stroked-button color="primary" (click)="left = true">
        <mat-icon>add_box</mat-icon>Add Files</button>
        <app-file-upload-list [fileSet]="files" [horizontal]="true"></app-file-upload-list>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions style="display: flex; justify-content: center;">
        <button mat-stroked-button class="accent" (click)="upload()">Upload</button>
      </mat-card-actions>
    </mat-card>
  </div>

</bd-slide-overlay>


<ng-template #loading>
  <div class="example-section">
      <mat-spinner
      class="example-margin"
      [color]="'primary'"
      [mode]="'indeterminate'"
      [diameter]="20">
      </mat-spinner> 
  </div>
</ng-template>

<bd-slide-overlay [(visible)]="left" position="left" [style]="{width:'30%'}">
  <mat-card>
    <app-file-upload-form (file)="getFile($event)" [maxFileSize]="4"></app-file-upload-form>
  </mat-card>
</bd-slide-overlay>