.example-viewport {
  height: 300px;
  width: 100%;
  border: 1px solid black;
  // overflow: hidden;
  // &:hover {
  //   overflow-y: auto;
  // }
}
table {
  width: 100%;
}
.example-table-container {
  position: relative;
  max-height: 400px;
}
