<ul class="progress-tracker">
    <li class="progress-step">
      <span class="progress-marker">
          <p class="day">Today</p>
          <p class="date">31 December 2019</p>
      </span>
      <span class="progress-text">
        <h4 class="progress-title">Step 1</h4>
        Summary text explaining this step to the user
      </span>
    </li>
    <li class="progress-step">
      <span class="progress-marker">
        <p class="day">Today</p>
      </span>
      <span class="progress-text">
        <h4 class="progress-title">Step 2</h4>
        Summary text explaining this step to the user
      </span>
    </li>
    <li class="progress-step">
      <span class="progress-marker">
        <p class="badge">NEW</p>
        <p class="day">Today</p>
        <p class="date">31 December 2019</p>
      </span>
      <span class="progress-text">
        <h4 class="progress-title">Step 3</h4>
        Summary text explaining this step to the user
      </span>
    </li>
    <li class="progress-step">
      <span class="progress-marker">
          DONE
      </span>
      <span class="progress-text">
        <h4 class="progress-title">Step 4</h4>
        Summary text explaining this step to the user
      </span>
    </li>
  </ul>
