<div style="display: flex; justify-content: space-evenly; align-items: center;">
  <button mat-button color="primary" (click)="doAction(ACTIONS.BREACH)">{{ACTIONS.BREACH}}</button>
  <button mat-button color="warn" (click)="doAction(ACTIONS.NO_BREACH)">{{ACTIONS.NO_BREACH}}</button>
  <button mat-button color="accent" (click)="doAction(ACTIONS.RE_OPEN)">{{ACTIONS.RE_OPEN}}</button>
</div>

<app-scroll-container [more]="hasMore()"
                      (scrolled)="handleScroll($event)"
                      [class.full]="full"
                      [class.part]="!full">
  <app-data-table [data]="dataSource" [(selection)]="selection"></app-data-table>
</app-scroll-container>
