.example-button-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display:     flex;
  align-items: center;
  &.evenly-like {
    -webkit-box-pack: justify;
       -ms-flex-pack: justify;
     justify-content: space-between;
     &:before,
     &:after {
       content: '';
       display: block;
     }
  }
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.container {
  display: flex;
  flex: 1;
  max-height: calc(100vh - 2.4em);
  flex-direction: column;
  .main {
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
  }
  .header, .footer {
    flex: 0 0 20%;
    background: greenyellow
  }
}
.example-container {
  min-height: 100vh;
}
