<div class="app-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Some Application</span>
    </mat-toolbar-row>
  </mat-toolbar>
  <router-outlet></router-outlet>
</div>

<!-- <app-tab-demo></app-tab-demo> -->

<!-- <mat-drawer-container
  [class.drawer-opened]="drawer.opened"
  class="example-container">
  <mat-drawer #drawer
    class="drawer"
    mode="side"
    opened="false"
    position="end">
    <mat-toolbar class="header">
      <div>Title</div>
    </mat-toolbar>
    <div class="contents">
      Drawer
    </div>
  </mat-drawer> -->
<!-- <mat-card class="cut-corner-transparent image1">
  <mat-card-header>
    <h4>
      Slide Overlay Demo
    </h4>
  </mat-card-header>
  <mat-card-content>
    <div class="example-button-row evenly-like">
      <button mat-raised-button (click)="drawer.toggle()">Drawer Opened - {{drawer.opened}} </button>
      <button mat-flat-button (click)="defaultRight = true" class="cut-corner--secondary">Default (right)</button>
      <button mat-flat-button color="primary" class="cut-corner--primary" (click)="left = true">File Upload</button>
      <button mat-flat-button color="accent"class="cut-corner--accent" (click)="top = true">Top</button>
      <button mat-flat-button color="warn" class="cut-corner--warn" (click)="bottom = true">Bottom</button>
      <button mat-flat-button class="cut-corner--anotherone" (click)="full = true">Full Screen</button>
    </div>
  </mat-card-content>
</mat-card> -->
<!-- <mat-card style="margin: 0; padding: 0;">
  <mat-card-content>
    <app-tab-demo></app-tab-demo>
  </mat-card-content>
</mat-card> -->
<!-- <mat-card style="margin: 0; padding: 0;">
  <mat-card-content>
    <app-file-upload-list [fileSet]="files"></app-file-upload-list>
    <button mat-raised-button class="primary" (click)="upload()">Upload</button>
  </mat-card-content>
</mat-card> -->

<!-- <div class="overlay-implementation">
  <bd-slide-overlay [(visible)]="defaultRight" [style]="{width:'70%'}">

      <ng-container *ngTemplateOutlet="template"></ng-container>


  </bd-slide-overlay>
  <bd-slide-overlay [(visible)]="left" position="left" [style]="{width:'70%'}">
    <mat-card>
      <app-file-upload-form (file)="getFile($event)" [maxFileSize]="4"></app-file-upload-form>
    </mat-card>
  </bd-slide-overlay>
  <bd-slide-overlay [(visible)]="top" position="top">
    <mat-card>
    </mat-card>
  </bd-slide-overlay>
  <bd-slide-overlay [(visible)]="bottom" position="left">
    <mat-card>Overlay Sample Implementation</mat-card>
  </bd-slide-overlay>
  <bd-slide-overlay [(visible)]="full" [fullScreen]="true">
    <mat-card>Overlay Sample Implementation</mat-card>
  </bd-slide-overlay>
</div>
<ng-template #template>
  <div class="container">
    <div class="header">
      Header
    </div>
    <div class="main">
      <ng-container *ngTemplateOutlet="panel"></ng-container>
    </div>
    <div class="footer">
      Footer
    </div>
  </div>
</ng-template>

<ng-template #panel>
  <app-some></app-some>
</ng-template> -->


<!-- </mat-drawer-container> -->
<!-- <bd-slide-overlay [(visible)]="moreleft" position="left" baseZIndex=0></bd-slide-overlay> -->
<app-action-flyout></app-action-flyout>
<app-filter-flyout></app-filter-flyout>
