<div class="search-container">
  <mat-form-field class="form-field">
      <input type="text" placeholder="Enter Search" matInput [formControl]="myControl"
            [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of options" [value]="option">
              {{option}}
          </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="openFilter.emit(true)">
      <mat-icon>filter_list</mat-icon>
    </button>
</div>

